# Node modules
node_modules/

# Environment variables
.env
.env.*  # Catch .env.development, .env.production etc.

# Logs
logs/
*.log

# OS files
.DS_Store

# React Native
android/.gradle/
ios/Pods/
*.keystore
.expo/
